.top{
    width: 100%;
    height: 50px;
    background-color: #2f3c53;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
}
.top .company{
    width: 196px;
    line-height: 50px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: 0px;
    color: #73bd49;
    float: left;
}
.top .tel {
    width: 255px;
    line-height: 50px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: 0px;
    color: #73bd49;
    float:right;
}
.top2{
    width: 100%;
    height: 78px;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
    background-color: #ffffff;
}
.top2 .left{
    width: 274px;
    line-height: 78px;
    box-sizing: border-box;
    padding-left: 64px;
    background:url("../img/logo.png") no-repeat left center;
    background-size: 48px 46px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #73bd49;
    float: left;
}
.top2 .right {
    height: 78px;
    float: right;
}
.top2 .right ul{
    height: 78px;
}
.top2 .right ul li{
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: 0px;
    line-height: 78px;
    height: 78px;
    float: left;
    color: #666666;
    padding-left: 21px;
    padding-right: 21px;
    cursor: pointer;
}
.top2 .right ul li#contact{
    position: relative;
}
.top2 .right ul li#contact .sh{
    width: 200px;
    height: 40px;
    position: absolute;
    right: 14px;
    bottom: -13px;
    background: red;
    z-index: 100;
    box-sizing: border-box;
    padding: 26px 10px;
}
.top2 .right ul li#contact .sh .top{
    width: 200px;

}
.top2 .right ul li a{
    color: #666666;
}
.top2 .right ul li.active{
    background-color: #72bf49;
    color:#fff
}
.top2 .right ul li.active a{
    color: #fff!important;
}
.footer{
    width: 100%;
    margin-top: 36px;
    background-color: #1c1028;
    padding-top: 72px;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 58px;
}
.footer .left{
    width: 33.3%;
    margin-right: 70px;
    float: left;
}
.footer .left .title{
    height: 16px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 30px;
}
.footer .left .address{
    width: 100%;
    margin-bottom: 30px;
}
.footer .left .address .p{
    height: 14px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #ccc;
}
.footer .left .address .p1{
    margin-bottom: 9px;
}
.footer .left .contact{
    width: 102%;
    margin-bottom: 49px;
}
.footer .left .contact .p{
    height: 14px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #ccc;
}
.footer .left .contact .p1{
     margin-bottom: 9px;
 }
.footer .left .contact .p2{
    margin-bottom: 9px;
}
.footer .left .right{
    width: 100%;
    height: 12px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: 0px;
    color: #ffffff;
}
.footer .right{
    width: 33.3%;
    float: left;
}
.footer .right .title{
    height: 16px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 30px;
}
.footer .right .address{
    width: 100%;
    margin-bottom: 30px;
}
.footer .right .address .p{
    height: 14px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #ccc;
    margin-bottom: 9px;
    cursor: pointer;
}
#toTop{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
