<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css?v=3">
    <link rel="stylesheet" href="css/abroad.css?v=3">
    <script src="js/scroll.js"></script>
    <title>中国留学教育网</title>
</head>
<body>
    <div class="top-center">
        国外留学
    </div>
    <div class="container">
        <div class="row">
            <div class="every col-lg-4 col-md-6">
                <div class="ig" ng-mouseover="cov()" ng-mouseleave="cov1()">
                    <div class="cover" ng-show="cove">
                        <div class="covBtn" ng-click="toDa()"> 查看院校信息</div>
                    </div>
                    <img src="img/sch1.jpg" alt="">
                </div>
                <div class="sch">韩国大田大学</div>
                <div class="tex">
                    大田大学是韩国的一所4年制私立大学，开校于1981年，1989年升格为综合大学并增设研究院，1997年被教育部指定为合格自治大学，连续多年在大学综合评价中被评为优秀大学。
                </div>
            </div>
            <div class="every col-lg-4 col-md-6">
                <div class="ig" ng-mouseover="c1()" ng-mouseleave="c11()">
                    <div class="cover" ng-show="c111">
                        <div class="covBtn" ng-click="toYuan()"> 查看院校信息</div>
                    </div>
                    <img src="img/sch2.jpg" alt="">
                </div>
                <div class="sch">韩国圆光大学</div>
                <div class="tex">
                    圆光大学（Wonkwang University）前身为1946年建立的”唯一学林”，在韩国近现代教育史上声名远赫，现已发展成为一所蜚声海内外的名牌私立大学。
                </div>
            </div>
            <div class="every col-lg-4 col-md-6">
                <div class="ig" ng-mouseover="c2()" ng-mouseleave="c22()">
                    <div class="cover" ng-show="c222">
                        <div class="covBtn" ng-click="toRussia()"> 查看院校信息</div>
                    </div>
                    <img src="img/sch3.jpg" alt="">
                </div>
                <div class="sch">俄罗斯联邦总统国家行政学院</div>
                <div class="tex">
                    俄罗斯联邦总统直属国民经济与国家行政学院是俄罗斯和欧洲最大的人文社科性质的大学，是俄罗斯五所顶尖重点院校之一，在俄罗斯和独联体总共有68个分校，有大于20万的在读学生。
                </div>
            </div>
            <div class="every col-lg-4 col-md-6">
                <div class="ig" ng-mouseover="c3()" ng-mouseleave="c33()">
                    <div class="cover" ng-show="c333">
                        <div class="covBtn" ng-click="toCupe()"> 查看院校信息</div>
                    </div>
                    <img src="img/sch4.jpg" alt="">
                </div>
                <div class="sch">加拿大卡普顿大学</div>
                <div class="tex">
                    卡普顿大学原名不列颠海角大学，是加拿大的一所公立综合性大学。建于1953年，在2015年加拿大权威大学排名《麦克林杂志》评选的加拿大基础类大学排名中位列第十八名 。
                </div>
            </div>
            <div class="every col-lg-4 col-md-6">
                <div class="ig" ng-mouseover="c4()" ng-mouseleave="c44()">
                    <div class="cover" ng-show="c444">
                        <div class="covBtn" ng-click="toZheng()"> 查看院校信息</div>
                    </div>
                    <img src="img/sch5.jpg" alt="">
                </div>
                <div class="sch">泰国正大管理学院</div>
                <div class="tex">
                    正大管理学院位于泰国曼谷暖武里府白蒛区占瓦塔纳路85/1号邮编 11120。校园占地18,004 平方米，坐落在政府中央办公区，交通便利。
                </div>
            </div>
        </div>
    </div>

</body>
</html>